html {
    font: 18px/1 sans-serif;
}

h1 {
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 46rem;
    height: 40rem;
}

.divider-space {
    width: 46rem;
    height: 5rem;
}

.hand-container {
    display: flex;
    margin: 15px 15px 50px 15px;
    flex-direction: row;
}


.playing-card {
    width: 7rem;
    height: 10rem;
    background-color: white;
    border: 1px;
    border-radius: 25px;
    margin: 4px 10px 4px 10px;
    display: flex;
}

.value-suit-container {
    margin: auto;
    background-color: white;
    block-size: 70%;
    width: 4rem;
    border: 1px red solid;
    /* padding: 4px;
    border: 1px; */
    display: flex;
}

.value {
margin: auto;
}