html {
    font: 18px/1 sans-serif;
}

h1 {
    margin: 5px;
}

h3 {
    color: #CEFFFC;
    margin: 12px 5px 5px 12px;
}

h4 {
    color: #CEFFFC;
    margin: 5px 5px 5px 12px;  
}

.table {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 42rem;
    height: 40rem;
}

.hand-container-dealer {
    display: flex;
    margin: 10px;
    flex-direction: row;
    min-height: 8.5rem;
    flex-wrap: wrap;
}

.hand-container-user {
    display: flex;
    margin: 10px 10px 50px 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.playing-card {
    width: 5.5rem;
    height: 8rem;
    background-color: white;
    border: 1px;
    border-radius: 25px;
    margin: 4px 10px 4px 10px;
    display: flex;
}

.value-container {
    margin: auto;
    background-color: white;
    block-size: 70%;
    width: 3rem;
    border: 1px red solid;
    /* padding: 4px;
    border: 1px; */
    display: flex;
}

.value {
    margin: auto;
}

.main-header{
    display: flex;
    width: 42rem;
    justify-content: space-between; 
}

.actions{
    align-self: center;
}
